[submodule "Real/vendor/spdlog"]
	path = Real/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Real/vendor/glfw"]
	path = Real/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Real/vendor/ImGui/imgui"]
	path = Real/vendor/ImGui/imgui
	url = https://github.com/ocornut/imgui.git
